# git ignore file for Keil µVision Project

# µVision 5 and µVision 4 Project screen layout file
*.uvguix.*
*.uvgui.*

# Listing Files
*.i
*.lst
*.m51
*.m66
*.map

# Object Files
*.axf
*.b[0-2][0-9]
*.b3[0-1]
*.bak
*.build_log.htm
*.crf
*.d
*.dep
*.elf
*.htm
*.iex
*.lnp
*.o
*.obj
*.sbr

# Firmware Files
*.bin
*.h86
*.hex

# Build Files
.bat

# Debugger Files
.ini

# JLink Files
JLinkLog.txt

# Other Files
*._2i
LVGL_APP/.app_menu_BASE_863.c.swp
LVGL_APP/.app_menu_LOCAL_863.c.swp
LVGL_APP/.app_menu_REMOTE_863.c.swp
LVGL_APP/.app_menu.c.swp
LVGL_APP/app_menu_BACKUP_497.c
LVGL_APP/app_menu_BASE_863.c
LVGL_APP/app_menu_LOCAL_863.c
LVGL_APP/app_menu_REMOTE_497.c
USER/RTE/_UCOSIII/RTE_Components.h
LVGL_APP/app_menu_REMOTE_863.c
LVGL_APP/app_menu_LOCAL_497.c
LVGL_APP/app_menu_BASE_497.c
LVGL_APP/app_menu_BACKUP_863.c
CORE/cmsis_armclang.h
